@charset "utf-8";
@charset "UTF-8";

/*默认样式*/

html {
	min-height: 100%;
	min-width: 320px;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: "microsoft yahei";
	font-size: 14px;
	margin: 0;
	background-color: #f4f4f4;
	color: #646565;
	letter-spacing: 1px;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

div,
p,
span {
	text-overflow: ellipsis;
	word-break: break-all;
	word-wrap: break-word;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled],
input[disabled] {
	background: #ddd;
}

input,
button {
	outline: none;
}

textarea {
	resize: none;
	outline: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

img {
	vertical-align: middle;
	border: 0;
	width: 100%;
}

p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

hr {
	width: 90%;
	margin: 0 5%;
	border: 0;
	border-top: 1px solid #DDD;
}

a {
	color: #646565;
	text-decoration: none;
}

a:active,
a:hover {
	outline: 0;
}

a:focus {
	outline: thin dotted;
	outline: 4px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

a,
input {
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/*常用*/

.active {
	color: #fcdd00;
	font-weight: bold;
}

.title_active {
	color: #ff1b71;
	font-size: 16px;
}

.clear_both {
	clear: both;
}

.m0 {
	margin: 0;
}

.mt2 {
	margin-top: 2px;
}

.mt6 {
	margin-top: 6px;
}

.p2 {
	padding: 2px;
}

.p6 {
	padding: 6px;
}

.pb4 {
	padding-bottom: 4px;
}

.pr6 {
	padding-right: 6px;
}

.pl6 {
	padding-left: 6px;
}

.p8 {
	padding: 8px;
}

.pr12 {
	padding-right: 12px;
}

.pl12 {
	padding-left: 12px;
}

.pt16 {
	padding-top: 16px;
}

.pb16 {
	padding-bottom: 16px;
}

.pt2 {
	padding-top: 2px;
}

.bg-white {
	background: #fff;
}

.block {
	display: block;
}

.left {
	float: left;
}

.right {
	float: right;
}

.price {
	color: #e0434a;
	font-size: 16px;
}

.color-black {
	color: #4C4C4C;
}

.color-grey {
	color: #8a8a8a;
}

.color-red {
	color: #f21b48;
}

.font-large {
	font-size: 16px;
}

.font_small {
	font-size: 12px;
}

.lineh31 {
	line-height: 31px;
}

.pad-top4 {
	padding-top: 4px;
}
.font-small{
	font-size:10px;
}
.mt10{
	display:inline-block;
	margin:10px 0px;
}


/*去除input number右边默认加减样式*/

input {
	border: none;
	background-color: rgba(255, 255, 255, 0.5);
}

input[type=number] {
	-moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}


/*nav*/

.nav-bar {
	position: fixed;
	z-index:10;
	height: 49px;
	width: 100%;
	bottom: 0;
	background-color: #f61a74;
}

.nav-bar a {
	width: 33.33%;
	float: left;
	color: #fff;
	text-align: center;
	padding-top: 4px;
}

.nav-icon {
	width: 22px;
	height: 22px;
	padding: 2px;
}


/*搜索*/

.search {
	position: fixed;
	z-index: 24;
	left: 0;
	top: 0;
	width: 100%;
	height: 44px;
	background: #ee196b;
}

.search_input_content {
	position: absolute;
	top: 7px;
	left: 3%;
	width: 80%;
	height: 30px;
	border-radius: 6px;
	background: #fff;
}

.search_icon {
	float: left;
	width: 20px;
	height: 20px;
	background: url(../img/search_icon.png);
	background-size: cover;
	margin: 5px 6px;
}

.search_input {
	width: 84%;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	float: left;
	background: none;
}

.index_search_btn {
	float: right;
	width: 10%;
	background: #ff5b2a;
	text-align: center;
	color: #fff;
	padding: 4px 6px;
	font-size: 14px;
	line-height: 14px;
	margin: 11px 2% auto;
	border-radius: 6px;
}

.search_btn {
	float: right;
	width: 30px;
	height: 30px;
	background: url(../img/search_btn.png);
	background-size: contain;
	margin: 8px 4% 0;
}


/*首页--每日推荐*/

.recommend {}

.index_title {
	line-height: 38px;
	font-weight: bold;
	padding-left: 36px;
}

.recommend_title {
	background: url(../img/recommend_icon.png) no-repeat 6px;
	background-size: 22px;
}

.overflowx {
	width: 100%;
	overflow-x: hidden;
}

.recommend_lists {
	overflow-y: scroll;
	width: 88%;
	float: left;
	padding-bottom: 12px;
}

.recommend_list {
	position: relative;
	float: left;
	width: 46%;
	border: 1px solid rgba(221, 221, 221, 0.64);
}

.recommend_img {
	min-height: 128px;
}

.recommend_name {
	padding: 8px 6px 0;
	margin-bottom: 8px;
	height: 32px;
	line-height: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	/*超出两行..*/
}

.recommend_price {
	padding-bottom: 4px;
}

.index_buy,
.brand_buy {
	position: absolute;
	width: 18px;
	right: 10px;
}

.index_buy {
	bottom: 37px;
}

.brand_buy {
	bottom: 4px;
}

.btn_gostore {
	width: 100%;
	background: none;
	border: none;
	border-top: 1px dotted rgba(221, 221, 221, 0.64);
	text-align: right;
	color: #616161;
	line-height: 30px;
	padding-right: 18px;
	background: url(../img/more.png) 96% 11px no-repeat;
	background-size: 10px;
}

.brand_icon {
	width: 100px;
	max-height: 26px;
}

.look_whole {
	position: relative;
	width: 11%;
	float: right;
	padding: 50% 0;
}

.look_whole span {
	display: inline-block;
	width: 16px;
	line-height: 20px;
	color: #8a8a8a;
}

.look_icon {
	position: absolute;
	top: 50%;
	right: 16%;
	width: 10px;
	margin-top: -12px;
}


/*首页--品牌热卖*/

.hot_title {
	background: url(../img/hot_icon.png) no-repeat 6px;
	background-size: 22px;
}

.hot_list {
	position: relative;
	overflow: hidden;
	padding: 4px 6px;
}

.index_hot_img {
	width: 100%;
	vertical-align: middle;
}

.btn_gobrand {
	position: absolute;
	background: none;
	opacity: 0.7;
	border: 1px solid #fff;
	color: #fff;
	padding: 0 10px;
	font-size: 12px;
}


/*商品详情*/

.goodsdetail_goods {
	padding: 4px 12px;
}

.goodsdetail-name {
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 6px;
}

.price_fontbig {
	font-size: 26px;
}

.gd_choose {
	clear: both;
	padding: 10px 12px 18px;
	border-top: 1px solid #4C4C4C;
}

.color_choose,
.size_choose {
	margin: 6px 0 0 22%;
}

.color_choose li,
.size_choose li {
	display: inline-block;
	background: #FFFFFF;
	border: 1px solid #ccc;
	border-radius: 12px;
	padding: 2px 8px 0;
	line-height: 14px;
	margin: 4px;
}

.choose_title:after {
	content: '';
	margin: 4px 0 0 8px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 12px solid #ff0c67;
	position: absolute;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.box_title {
	background: #fee3ec;
	border-top: 1px solid #4C4C4C;
}

.box_title_fixed {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
}

.goodsdetail-title,
.activity_title,
.evalute_title {
	position: relative;
	line-height: 36px;
	margin: 0 3%;
	padding-left: 6px;
	border-bottom: 1px solid #4C4C4C;
}


/*促销活动*/

.index_sales {
	position: absolute;
	bottom: 58px;
	left: 6px;
}

.gostore_sales {
	position: absolute;
	bottom: 24px;
	left: 6px;
}

.goodsdetail_sales {
	clear: both;
	padding-bottom: 6px;
}

.sales_type {
	display: inline-block;
	border: 1px solid #f21b48;
	padding: 1px 4px;
	border-radius: 2px;
	height: 10px;
	line-height: 14px;
	font-size: 10px;
	color: #f21b48;
}

.activity {
	padding: 8px 3%;
	background: #fff;
	min-height: 100px;
}

.activity_list {
	overflow: hidden;
	padding-left: 6px;
	margin-bottom: 6px;
}

.activity_type {
	color: #ff1b71;
	width: 22%;
	float: left;
}

.activity_detial {
	width: 78%;
	float: right;
	display: block;
}


/*商品详情--评价列表*/

.evalute_lists {
	background: #feeff4;
}

.evalute_list {
	background: #fff;
	padding: 8px 3%;
	margin-bottom: 6px;
}

.evalute_list_headimg {
	float: left;
	width: 44px;
	height: 44px;
	padding: 6px;
}

.evalute_list .username {
	padding: 6px;
	float: left;
}

.evalute_list .data {
	float: right;
	display: block;
	padding: 6px 12px;
}

.evalute_list .content {
	padding: 6px;
}

.evalute_user_img {
	width: 16.5%;
	margin: 1%;
}

.userinfor_box {
	overflow: hidden;
}

.btn_prev,
.btn_next {
	margin-top: 6px;
	color: #ff1b71;
	font-size: 36px;
	position: absolute;
	top: 36%;
}

.btn_prev {
	left: 0;
}

.btn_next {
	right: 0;
}


/*商品详情--底部栏*/

.fixed-foot {
	position: fixed;
	z-index: 8;
	bottom: 50px;
	left: 50%;
	width: 314px;
	height: 40px;
	margin-left: -160px;
	background: #fff;
}

.hoverCart_box,
.gotop_box,.gohome_box {
	position: relative;
	float: left;
	margin-left: 6px;
}

.hoverCart {
	background: url(../img/fixed_buy.png);
}

.gotop {
	background: url(../img/fixed_gotop.jpg);
}
.gohome{
	background: url(../img/fixed_gohome.png);
}
.hoverCart,
.gotop,.gohome {
	background-size: cover;
	width: 42px;
	height: 44px;
}

.hoverCart_dot {
	position: absolute;
	z-index: 20;
	top: -4px;
	right: 0;
	width: 8px;
	height: 8px;
	background: #f21b48;
	border-radius: 8px;
}
.gootop_goodsdetail{
	position: fixed;
	z-index: 10;
	right: 12px;
	bottom: 50px;
	width: 38px;
}
.btn-buy,
.btn-cart {
	float: left;
	border: none;
	color: #fff;
	margin-left: 4px;
	text-align: center;
	line-height: 44px;
	font-size: 16px;
}

.btn-buy {
	background-color: #d81e06;
	width: 110px;
}

.btn-cart {
	background: #fcdd00;
	width: 100px;
	padding: 0;
}


/*分类*/

.classify {
	display: none;
	position: fixed;
	z-index: 1;
	top: 44px;
	right: 0;
	width: 32%;
	height: calc(100% - 93px);
	overflow: auto;
	background: #fff;
}

.classify_null {
	position: fixed;
	z-index: 2;
	top: 44px;
	left: 0;
	width: 68%;
	height: calc(100% - 93px);
	background: rgba(0, 0, 0, 0.3);
}

.classify_list {
	position: relative;
	z-index: 3;
}

.classify_list_title {
	position: relative;
	text-align: center;
	font-size: 16px;
	padding: 18px 0;
	border-bottom: 1px solid #fff;
	background: #ffd4e5;
}

.classify_more {
	position: absolute;
	right: 12px;
	top: 24px;
	width: 14px;
}

.classify_type {
	display: none;
	overflow: hidden;
	min-height: 100%;
	text-align: center;
}

.classify_type li {
	border-bottom: 1px solid #ddd;
	padding: 8px 0 6px;
	background: #fff;
}

.classify_detial_box {
	display: none;
	position: relative;
	height: 34px;
	line-height: 22px;
	overflow: hidden;
	padding: 4px 24px 4px 4px;
	margin-bottom: 6px;
	border-bottom: 1px dashed #ddd;
}

.height_inherit {
	height: inherit;
}

.rotate180 {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.classify_detial_box .classify_more {
	top: 16px;
}

.classify_detial_list {
	display: inline-block;
	background: #FFF;
	border-radius: 8px;
	padding: 4px 8px 2px;
	margin: 6px;
	line-height: 14px;
}

.classify_detial_active {
	background: #f9afcc!important;
}


/*个人中心-头像 背景*/

.personal-info {
	background: url(../img/bg_personal.png);
	background-size: cover;
	padding: 20px 16px;
	overflow: hidden;
	text-align: center;
}

.headimg_box {
	border-radius: 50%;
	position: relative;
	width: 120px;
	height: 120px;
	margin: 0 auto;
	overflow: hidden;
}

.headimg {
	width: 150px;
	height: 150px;
}

.personalname {
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	color: #4C4C4C;
	display: block;
	padding: 0px 14px;
	margin-top: 20px;
}

.edit_headimg {
	position: absolute;
	bottom: 12px;
	left: 0;
	display: inline-block;
	color: #fff;
	background: rgba(0, 0, 0, 0.47);
	width: 150px;
	line-height: 24px;
	opacity: 0.7;
}


/*个人中心-订单,设置*/

.personal_title {
	display: block;
	overflow: hidden;
	background: #ee699c;
	color: #fff;
	padding: 6px 0;
}

.personal_title_icon {
	width: 20px;
	min-height: 16px;
	float: left;
	margin: 6px 6px 6px 4%;
}

.personal_title_text {
	float: left;
	line-height: 32px;
	letter-spacing: 2px;
}

.order {
	width: 100%;
	overflow: hidden;
	background-color: #fff;
}

.order a {
	width: 20%;
	float: left;
	text-align: center;
	margin: 8px 0;
	padding: 10px 6px 0;
	box-sizing: border-box;
}

.Order_icon {
	width: 26px;
	min-height: 22px;
}

.Order_text {
	line-height: 2em;
}

.enter {
	width: 10px;
	float: right;
	margin: 10px 3% 0 0;
}

.bg_red0 {
	background: #ee196b;
	height: 10px;
}

.btn_exit_personal {
	position: fixed;
	bottom: 49px;
	left: 0;
	background: #da193d;
	border: none;
	color: #fff;
	width: 100%;
	line-height: 30px;
	letter-spacing: 4px;
}


/*个人中心--全部订单*/

.orderlist {
	margin-bottom: 16px;
}

.order-type {
	float: right;
	padding: 0 8px;
	color: #fff;
}

.order-total {
	overflow: hidden;
	background: #fff;
	text-align: right;
	border-bottom: 1px solid #eee;
	padding: 6px 2px;
}

.order-btn-bg {
	background: #fff;
	overflow: hidden;
}

.order-btn {
	float: right;
	margin: 8px 6px;
	padding: 2px 12px;
	color: #fff;
	background: #f19149;
	line-height: 22px;
	border-radius: 8px;
}


/*个人中心--我的钱包*/

.wallet_sum {
	position: relative;
}


/*.wallet_sum span {
	display: block;
}*/

.wallet_price {
	font-size: 46px;
	line-height: 46px;
	padding-top: 6px;
}


/*.btn_wallet_recharge {
	position: absolute;
	left: 58%;
	bottom: 18px;
	color: #fff;
	background: none;
	border: 1px solid #fff;
	border-radius: 6px;
	padding: 2px 6px;
	line-height: 14px;
}*/

.details_list {
	overflow: hidden;
	line-height: 30px;
	padding: 6px 5%;
}

.record_details_price {
	color: #4C4C4C;
	font-size: 28px;
	font-weight: bold;
}

.record_list {
	overflow: hidden;
	padding: 10px 5%;
	line-height: 22px;
}

.time {
	color: #a9a9a9;
	font-size: 12px;
}

.record_list .right {
	line-height: 40px;
	font-size: 24px;
}

.record_list_type {
	font-weight: bold;
}


/*钱包--充值*/

.input-row {
	background-color: #fff;
	margin-bottom: 2px;
	line-height: 26px;
	padding: 8px 0 6px;
	overflow: hidden;
}

.input-row span {
	width: 90px;
	padding-right: 10px;
	line-height: 24px;
	padding-top: 4px;
	text-align: right;
	color: #4c4c4c;
	display: block;
	float: left;
}

.input-row input,
textarea {
	line-height: 24px;
	padding-left: 6px;
	color: #4c4c4c;
	border: 1px solid #fabcd1;
	border-radius: 4px;
	width: 60%;
	float: right;
	margin: 4px 5.5% 0 0;
}

.recharge_title {
	width: 56px;
	padding-top: 8px;
	text-align: right;
}

.recharge_options {
	overflow: hidden;
}

.recharge_option {
	box-sizing: border-box;
	width: 26.5%;
	float: left;
	margin: 4px 0 8px 5%;
	padding: 4px 0;
	border: 1px solid #fabcd1;
	border-radius: 4px;
	text-align: center;
}

.recharge_value {
	display: block;
	font-size: 20px;
	line-height: 20px;
	color: #424242;
}

.recharge_reminder {
	font-size: 10px;
}

.others {
	display: none;
}


/*个人中心--地址管理*/

.address_list {
	overflow: hidden;
	background: #fff;
}

.sureorder-line {
	height: 6px;
	background: url(../img/order-line.png);
	background-size: cover;
}

.address_left_check {
	width: 8%;
	float: left;
}

.address_nocheck,
.address_checked {
	width: 18px;
	padding: 34px 8px;
	float: left;
}

.address_checked {
	display: none;
}

.address_right_content {
	box-sizing: border-box;
	width: 92%;
	float: right;
	padding: 12px 8px;
}

.overflow {
	overflow: hidden;
}

.address_list .name {
	display: block;
	float: left;
}

.address_list .tel {
	display: block;
	float: left;
	margin-left: 16px;
}

.address_list .address {
	padding: 6px 0 12px 0;
	/*border-bottom: 1px dashed #eee;*/
}

.new_address_text {
	display: block;
	margin: 4px 2px;
	float: left;
}

.edit_btn,
.delete_btn {
	float: right;
	border: none;
	padding: 2px 14px;
	margin: 2px 6px;
	color: #fff;
}

.edit_btn {
	background: #e4bb3f;
}

.delete_btn {
	background: #fc0b38;
}


/*地址管理-底部按钮*/

.confirm-btn {
	position: fixed;
	bottom: 0;
	margin: 0;
	width: 100%;
	border-radius: 0;
	font-size: 16px;
	border: none;
	padding: 8px 10px;
	background-color: #fac82b;
	color: #fff;
}


/*地址管理--地址操作*/

.new_address {
	padding: 6px 0;
}

.new_address .new_address_nochoose,
.new_address .new_address_choose {
	margin: 4px 4px 4px 0;
	width: 16px;
	float: left;
}

.new_address_nochoose {}

.new_address_choose {
	display: none;
}


/*列表为空*/

.list-none {
	display: none;
	margin-top: 20%;
}

.imgs {
	width: 50%;
	margin-left: 25%;
	margin-top: 30px;
	opacity: 0.9;
	filter: alpha(opacity=90);
	min-height: 98px;
}

.fonts {
	width: 100%;
	text-align: center;
	margin-top: 26px;
	color: rgb( 152, 161, 166);
	font-size: 16px;
	line-height: 26px
}


/*支付失败*/

.pay_fail_box {
	background: #a8a8a8;
	text-align: center;
	padding: 10px;
	color: #fff;
	line-height: 20px;
	letter-spacing: 4px;
}

.pay_imgs {
	width: 80px;
	margin-top: 30px;
}

.pay_fail_largefont {
	font-size: 22px;
	line-height: 60px;
}

.btn_pay_left,
.btn_pay_right {
	color: #fff;
	border: none;
	border-radius: 4px;
	width: 25%;
	font-size: 16px;
	line-height: 26px;
	float: left;
}

.btn_pay_left {
	background-color: #ee196b;
	margin: 40px 7% 0 18%;
}

.btn_pay_right {
	background-color: #a8a8a8;
	margin: 40px 18% 0 7%;
}


/*登录*/

.bg_login {
	background: url(../img/bg_login.jpg);
	background-size: cover;
	padding: 0 24px;
}

.login_title {
	text-align: center;
	color: #ee196b;
	font-weight: bold;
	font-size: 22px;
	margin: 30px 0;
}

.login_input {
	box-sizing: border-box;
	width: 100%;
	line-height: 40px;
	margin: 10px 0;
	padding: 0 6px;
	font-size: 16px;
	border: 2px solid #fabcd1;
	background: none;
}


/*登录按钮*/

.login_btn {
	width: 100%;
	font-size: 16px;
	border: none;
	padding: 8px 10px;
	margin: 30px auto 30px;
	background-color: #ee196b;
	color: #fff;
	letter-spacing: 4px;
}

.forget-a {
	color: #A9A9A9;
}

.register-a {
	position: relative;
	box-sizing: border-box;
	display: block;
	width: 100%;
	color: #FFFFFF;
	background: #232323;
	line-height: 40px;
	margin: 20px 0;
}

.register-a:after {
	content: '';
	position: absolute;
	right: 12px;
	top: 14px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 12px solid #ff0c67;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.code_btn {
	background: none;
	border: none;
	color: #A9A9A9;
}

.code_btn[disabled] {
	background: none;
}


/*用户评价*/

.feedback-textarea {
	width: 100%;
	border: 2px solid #fabcd1;
	background: none;
	margin: 30px 0 8px;
	padding: 4px;
	box-sizing: border-box;
	border-radius: 4px;
}


/*确认订单*/

.cost_content {
	overflow: hidden;
	margin: 0 5%;
	padding: 4px;
}

.sureorder_total {
	display: inline-block;
	border-bottom: 1px solid #ddd;
	float: right;
	text-align: right;
	font-size: 24px;
	color: #e91a28;
	margin: 0 5%;
	padding: 6px 0;
}

.wechat_pay {
	clear: both;
	/*background: #fffff4;*/
	padding: 6px 6%;
	border-bottom: 1px solid #ddd;
}

.wechat_pay img {
	width: 30px;
}

.wechat_pay span {
	display: inline-block;
	font-size: 16px;
	line-height: 30px;
}

.pay_click_box {
	width: 40px;
	height: 30px;
	float: left;
}

.pay_chooose {
	width: 12px;
	height: 12px;
	margin: 10px;
	border-radius: 50%;
	border: 1px solid #ddd;
}

.pay_chooose_checked {
	background: #59b64c;
	border: 1px solid #59b64c;
}

.center {
	text-align: center;
	padding: 4px 4px 16px;
}


/*确认订单--选择支付方式*/

.pay_password_box {
	width: 242px;
	margin: 10px auto;
	border: 1px solid #ddd;
	font-size: 20px;
	overflow: hidden;
}

.pay_password {
	text-align: center;
	display: inline-block;
	float: left;
	width: 40px;
	height: 40px;
	box-sizing: border-box;
	border-right: 1px solid #ddd;
	background: #fff!important;
}


/*数字键盘*/

.password_keyboard {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	font-size: 22px;
	line-height: 40px;
	margin-left: 2px;
}

.keyboard_num,
.keyboard_delete,
.keyboard_null {
	width: 33.33%;
	float: left;
	border: 1px solid #ddd;
	box-sizing: border-box;
	margin-top: -1px;
	margin-left: -1px;
}

.keyboard_delete {
	font-size: 16px;
}


/*.pay_way{
	float: right;
	padding: 6px;
}
.pay_way span{
	float: left;
	display: inline-block;
	font-size: 14px;
	margin: 0 6px;
}*/


/*确认订单---选择地址弹框*/

.add_alert_ {
	display: none;
	position: fixed;
	z-index: 30;
	top: 0;
	left: 0;
	margin: 0%;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.47);
}

.add_alert {
	position: relative;
	z-index: 9;
	top: 0;
	left: 0;
	margin: 7%;
	width: 86%;
	height: 92%;
	background: #fff;
	border-radius: 8px;
	border: 8px solid rgba(10, 10, 10, 0);
	box-sizing: border-box;
}

.add_alert_buychoose {
	position: relative;
	z-index: 9;
	width: 100%;
	height: 60%;
	border: 8px solid rgba(10, 10, 10, 0);
	background: #fff;
}

.add_alert_buychoose_null {
	width: 100%;
	height: 40%;
}

.buychoose_overflow {
	max-height: 76%;
	overflow: auto;
}

.close_img {
	position: absolute;
	z-index: 100;
	top: -14px;
	right: -14px;
	width: 30px;
	background: #fff;
	border-radius: 50%;
}

.makesure_alert_address_newbtn,
.makesure_cupon,
.makesure_pay_password {
	position: absolute;
	bottom: 4%;
	left: 30%;
	width: 40%;
	padding: 4px 0;
	border-radius: 16px;
	background: none;
	border: 1px solid #ee6a9c;
	color: #ee6a9c;
}

.add_alert .address_lists {
	overflow-y: scroll;
	height: 84%;
}

.add_alert .address_lists .address_list {
	padding: 10px 4px;
	background: none;
}

.address_current {
	color: #ee6a9c;
}

.add_alert .address_lists .address_list .tel {
	float: right;
}

.add_alert .address_lists .address_list .address {
	border-bottom: 1px dashed #ee6a9c;
}


/*确认订单--选择优惠券*/

.choose_cupon_enter {
	line-height: 40px;
	padding-left: 20px;
	background: #fefff6;
	clear: both;
	text-align: right;
	border-bottom: 1px solid #b5b5b5;
}

.choose_cupon_font_small {
	font-size: 10px;
	color: #17abe3;
	text-decoration: underline;
}

.choose_cupon_enter_icon {
	float: right;
	font-size: 34px;
	padding: 0 20px;
}

.cupon_rules_alert {}


/*订单详情*/

.title {
	font-weight: bold;
	line-height: 26px;
}


/*个人中心--电子券*/

.goods-content .hd {
	position: relative;
	height: 40px;
	border-bottom: 1px solid #e5e5e5;
	background: #caf6ff;
}

.goods-content .hd ul li {
	float: left;
	width: 33.33%;
	margin: 0 ;
	color: #666;
	font-size: 10px;
	line-height: 16px;
	padding-top:12px;
	text-align: center;
	cursor: pointer;
}

.goods-content .hd ul .on {
	border-bottom: 2px solid #ee196b;
	color: #ee196b;
	height: 40px;
}

.Electronic_coupons_able,
.Electronic_coupons_birthday {
	position: relative;
	width: 96%;
	margin: 8px 2%;
	color: #fff;
}

.Electronic_coupons_able {
	background-image: url(../img/Electronic_coupons_able.png);
	background-size: 100% 100%;
}

.Electronic_coupons_birthday {
	background-image: url(../img/Electronic_coupons_birthday.png);
	background-size: 100% 100%;
}

.Electronic_coupons_value {
	font-size: 40px;
	line-height: 40px;
	color: #0ee286;
	margin-right: 14%;
	text-align: right;
	padding: 4px 10px 0;
}

.Electronic_coupons_type {
	font-size: 20px;
	line-height: 26px;
	margin-right: 20%;
	float: right;
}

.Electronic_coupons_birthday .Electronic_coupons_value {
	color: #ec196b;
}

.Electronic_birthday {
	position: absolute;
	top: 46px;
	right: 9%;
	width: 26px;
}

.Electronic_coupons_goodsname {
	float: left;
	line-height: 46px;
	margin: 22px 0 5px 0;
	font-size: 20px;
	width: 56%;
}

.Electronic_coupons_period_of_validity {
	overflow: hidden;
	margin: 0 10px 0 25%;
	padding-bottom: 12px;
	font-size: 12px;
}

.store_name {
	min-height: 30px;
	text-align: right;
	font-size: 16px;
	padding: 14px 8px 0 0;
}

.Electronic_coupons_code {
	position: absolute;
	width: 17%;
	bottom: 14px;
	left: 5%;
	overflow: hidden;
}
.code_img {
    width: 140%;
    margin: -20%;
}
.Electronic_bg_black {
	position: absolute;
	z-index: 99;
	width: 100%;
	TOP: 0;
	LEFT: 0;
	HEIGHT: 100%;
}

.Electronic_state {
	position: absolute;
	top: 30%;
	left: 50%;
	margin-left: -75px;
	z-index: 120;
	color: #fff;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 8px;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
}

.bigimg_box {
	display: none;
	position: fixed;
	z-index: 999;
	top: 22%;
	left: 10%;
	box-sizing: border-box;
	width: 80%;
	padding: 20px;
	background: #fff;
	border-radius: 12px;
	overflow: hidden;
}
.bigimg_close {
	position: absolute;
	top: 0;
	right: 0;
	width: 24px;
}


/*购物车*/

.goindex_btn {
	width: 30%;
	margin: 6% 35%;
	padding: 4px 10px;
	background: none;
	color: #ee6a9c;
	border-radius: 16px;
	border: 1px solid #ee6a9c;
}

.shoppingcart_box {}

.shoppingcart_store {
	overflow: hidden;
	background: #ffe3ee;
	line-height: 30px;
	padding-left: 6px;
}

.shoppingcart_store .address_nocheck,
.shoppingcart_store .address_checked {
	padding: 6px 8px;
}

.shoppingcart-goodslist .address_nocheck,
.shoppingcart-goodslist .address_checked {
	padding: 30px 4px;
}


/*购物车商品*/

.shoppingcart-goodslist {
	position: relative;
	background: #fefff6;
	border-bottom: 1px solid #B5B5B5;
	line-height: 30px;
	color: #4c4c4c;
	padding: 8px 8px 8px 0;
	overflow: hidden;
}

.shoppingcart-goodsimg {
	width: 27%;
	float: left;
	min-height: 68px;
	margin-top: 8px;
}

.shoppingcart-goodsinfomation {
	color: #4c4c4c;
	float: right;
	width: 63%;
}

.goods-name {
	font-size: 16px;
	line-height: 20px;
	margin: 4px 0;
	min-height: 42px;
	color: #4c4c4c;
	text-align: justify;
}

.format_ {
	position: relative;
	float: right;
	width: 63%;
	text-align: left;
	line-height: 18px;
	margin-bottom: 6px;
	box-sizing: border-box;
}

.format_ span {
	display: inline-block;
	margin-right: 6px;
}

.format_choose {
	position: absolute;
	right: 2px;
	top: 4px;
	width: 14px;
}

.shoppingcart_price {
	font: 24px bold;
	color: #ff2423;
}


/*购物车--购买数量*/

.num_border {
	height: 28px;
	border: 1px solid #eee;
	border-radius: 4px;
}

.buynum-input {
	display: block;
	float: left;
	font-size: 16px;
	min-width: 36px;
	line-height: 28px;
	padding: 0 2px;
	text-align: center;
	background: #fff;
	/* width: 50px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-size: 16px;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee; */
}

.buynum-sub,
.buynum-add {
	display: block;
	float: left;
	width: 32px;
	height: 28px;
	padding: 2px 6px;
	box-sizing: border-box;
	background: #fff;
}

.buynum-sub {
	border-right: 1px solid #ddd;
	border-radius: 4px 0 0 4px;
}

.buynum-add {
	border-left: 1px solid #ddd;
	border-radius: 0 4px 4px 0;
}


/*购物车-底部结算*/

.shoppingcart_foot {
	position: fixed;
	z-index: 9;
	bottom: 49px;
	left: 0;
	width: 100%;
	background: #d81e06;
}

.shoppingcart_foot .total_num {
	position: fixed;
	left: 6px;
	bottom: 58px;
	background: #e43f3f;
	color: #fff;
	display: inline-block;
	padding: 2px 6px;
	border-radius: 30px;
}

.shoppingcart_foot .btn-cart {
	width: 55%;
	padding-left: 5%;
	color: #4C4C4C;
	background: #fcdd00;
	margin: 0;
	font-weight: bold;
}

.shoppingcart_foot .btn-buy {
	width: 31%;
	height: 44px;
	margin: 0;
}

.shoppingcart_foot .gotop_box {
	margin: 0;
	float: right;
}

.Continue_to_browse {
	text-align: center;
	padding: 4px;
}

.Continue_to_browse img {
	width: 14px;
}


/*loading*/

#loadingDiv {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 56% 31%;
	text-align: center;
	background: rgba(40, 40, 40, .65);
	min-height: 100%;
}

.loading {
	background: rgba(40, 40, 40, .3);
	border-radius: 6px;
}

.loading img {
	width: 40px;
	height: 40px;
	padding: 26px 0 16px;
}

#loadingDiv.loaded {
	display: block;
}

.loading-text {
	color: #fff;
	font-size: 16px;
	padding-bottom: 20px;
	margin: 0px;
}

.loadData {
	text-align: center;
	padding: 10px;
	color: #8c8c8c;
}


/*toast*/

.toast {
	display: none;
	position: fixed;
	z-index: 999;
	left: 20%;
	top: 60%;
	text-align: center;
	width: 60%;
	line-height: 50px;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
}


/*上传图片css*/

#choose {
	display: none;
}

canvas {
	width: 100%;
	border: 1px solid #000000;
}

.img-list {
	clear: both;
	overflow: hidden;
}

.img-list li {
	position: relative;
	display: inline-block;
	width: 28%;
	margin: 12px 2%;
	float: left;
}

.progress {
	position: absolute;
	width: 100%;
	height: 20px;
	line-height: 20px;
	bottom: 0px;
	left: 0;
	background-color: rgba(255, 255, 255, 0.8);
}

.progress span {
	display: block;
	width: 0;
	height: 100%;
	background-color: rgba(139, 195, 74, 0.48);
	text-align: center;
	color: #FFF;
	font-size: 13px;
}

.size {
	position: absolute;
	width: 100%;
	height: 15px;
	line-height: 15px;
	bottom: -18px;
	text-align: center;
	font-size: 13px;
	color: #666;
}

.upload {
	width: 25%;
	padding: 6px;
	min-height: 70px;
}

.close-li {
	position: absolute;
	top: -10px;
	right: -10px;
	float: right;
	width: 20px;
}


/*选择地区--区*/

.box_null {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .47);
}

.box_region {
	display: none;
	position: fixed;
	z-index: 7;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.box_region .box_null {
	display: block;
}

.region_lists {
	position: fixed;
	z-index: 10;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #fff;
}

.region_list {
	width: 90%;
	margin-left: 5%;
	line-height: 36px;
	color: #4c4c4c;
	text-align: center;
	border-bottom: 1px solid #ddd;
}


/*选择导购*/

.Guides {
	display: none;
	background: rgba(255, 255, 255, 0.61);
	padding: 4px 0 4px 6px;
	border: 1px solid #fabcd1;
	border-radius: 6px;
	max-height: 94px;
	overflow: auto;
}

.guide_more {
	display: none;
	position: absolute;
	z-index: 10;
	width: 18px;
	top: 18px;
	right: 28px;
	transform: rotate(180deg);
}


/*选择属性*/

.choose_property {
	float: right;
	width: 63%;
	color: #F21B48;
}

.choose_property img {
	width: 14px;
}